' Sveicināti Skautos un Gaidās, #{@user.name}!
= "\r\n" * 2
' Jūsu vienības priekšnieks, #{@creator.name} #{@creator.surname}, ir pievienojis Jūs LSGCO biedruzinības sistēmā.
= "\r\n" * 2
' Lai izveidotu savu paroli, un pabeigtu reģistrāciju, lūdzu ejiet uz sekojošo linku: 
= "https://lsgco-is-6bc14cbfa070.herokuapp.com/"+@link
= "\r\n" * 2
' Arvien Modri! LSGCO informācijas sistēma