' Sveicināti Skautos un Gaidās, #{@user.name}!
= "\r\n" * 2
' Jūsu vienības priekšnieks, #{@creator.name} #{@creator.surname}, ir pievienojis Jūs LSGCO Informācijas Sistēmā.
= "\r\n" * 2
' Lai izveidotu savu paroli, un pabeigtu reģistrāciju, lūdzu ejiet uz sekojošo linku: 
= 'localhost:3000'+@link
= "\r\n" * 2
' Arvien Modri! LSGCO informācijas sistēma