' Sveicināti, #{@user.name}!
= "\r\n" * 2
' Jūs esat lūguši savam vienības priekšniekam atiestatīt Jūsu paroli.
= "\r\n" * 2
' Lai atjaunotu savu paroli, lūdzu ejiet uz sekojošo linku. Links ir derīgs vienu nedēļu.
= 'localhost:3000'+@link
= "\r\n" * 2
' Arvien Modri! LSGCO informācijas sistēma