' Sviecināti, #{@leader}!
= "\r\n" * 2
' Jūsu vienības biedrs, #{@leader.name} #{@leader.surname} ir nosūtījis šo iesniegumu caur LSGCO IS ar nodomu izstāties no orgaizācijas.
= "\r\n" * 2
' Lai dzēstu lietotāju no sistēmas, lūdzam apmeklēt biedra paneli, kurā izvēlēties pogu "Dzēst biedru".
= 'localhost:3000'+@link
= "\r\n" * 2
' Arvien Modri! LSGCO informācijas sistēma
