.flex.flex-col
  =link_to "Reģistrēt maksājumus", registret_maksajumus_membership_fee_payments_path(), class: "btn-primary"
  =link_to "Reģistrēt solījumus", solijuma_registracija_users_path(), class: "btn-primary"