#Datatables
.dataTables_paginate{
  margin-top: 10px;
  text-align: center;
}

.paginate_button{
  margin: 10px;
  font-weight: 800;
  color: #556987;
  cursor: pointer;
}

.paginate_button:hover{
  color: #3B495E;
}

.last, .first {
  font-weight: 600 !important;
}

.disabled-link {
  pointer-events: none;
  background-color: #7d8787;
}


#Global
p, td{
  white-space: pre-wrap
}

html {
  font-family: NunitoSans, sans-serif;
}


