div.border-2.flex.flex-col.px-5
  div.flex.justify-between.items-center
    = image_tag  "LSGCO_logo_full.svg", class:"h-32 text-center p-4"
    button.h-15 
      =image_tag src="icons/burger_menu.svg", size: "30px", id: "dropdown-button"
  
  div hidden="true" id="dropdown"
    -if @user_permission_level == "login"
      =form_tag session_path do
        .flex.flex-col
          div.group
            input.input-field-blue.peer type="text" name="username" placeholder=""
            label.input-label
              |Lietotājs
          div
            input.input-field-blue.peer type="password" name="password" placeholder=""
            label.input-label
              |Parole
          button.btn-primary.flex.items-center.justify-between.my-3 type="submit" 
            |Pievienoties
            =image_tag 'icons/login.svg', size:"30"
    -else
      .flex.flex-col.divide-y-2.divide-scout-gold 
        -if @user_permission_level == "pklv_valde" || @user_permission_level == "pklv_vaditajs"
          div 
            -if @user_permission_level == "pklv_valde"
              =link_to biedru_atskaites_path, class: current_tab == "member_report" ? "btn-active flex items-center justify-between my-3" : "btn-primary flex items-center justify-between my-3"
                |Biedru atskaite
                =image_tag 'icons/report.svg', size:"30"
            =link_to current_user.pklv_valde? ? vienibas_atskaites_path() : vienibas_atskaites_path(id: current_user.unit), class: current_tab == "unit_report" ? "btn-active flex items-center justify-between my-3" : "btn-primary flex items-center justify-between my-3"
                |Vienības atskaite
                =image_tag 'icons/report.svg', size:"30"
        -if @user_permission_level == "pklv_valde"
          div 
            =link_to new_unit_path, class: current_tab == "new_unit" ? "btn-active flex items-center justify-between my-3" : "btn-primary flex items-center justify-between my-3"
              |Pievienot vienību
              =image_tag 'icons/new_unit.svg', size:"30"
            =link_to units_path, class: current_tab == "unit_list" ? "btn-active flex items-center justify-between my-3" : "btn-primary flex items-center justify-between my-3"
              |Vienības
              =image_tag 'icons/units.svg', size:"30"
              
        -if @user_permission_level == "pklv_vaditajs" ||  @user_permission_level == "pklv_valde" && @current_user.activity_statuss == "Vadītājs"
            div
              =link_to new_user_path, class: current_tab == "new_member" ? "btn-active flex items-center justify-between my-3" : current_user.unit.unit_active? ? "btn-primary flex items-center justify-between my-3" : "btn-primary flex items-center justify-between my-3 disabled-link"
                |Pievienot biedru
                =image_tag 'icons/new_user.svg', size:"30"
              =link_to events_path, class: current_tab == "events" ? "btn-active flex items-center justify-between my-3" : "btn-primary flex items-center justify-between my-3"
                |Pasākumi
                =image_tag 'icons/events.svg', size:"30"
              =link_to unit_path(current_user.unit), class: current_tab == "unit" ? "btn-active flex items-center justify-between my-3" : "btn-primary flex items-center justify-between my-3"
                |Mana vienība 
                =image_tag 'icons/unit.svg', size:"30"
        -if @user_permission_level == "pklv_biedrs" || @user_permission_level == "pklv_vaditajs" || @user_permission_level == "pklv_valde"
          div
            =link_to maksajumu_vesture_membership_fee_payments_path, class: current_tab == "payments" ? "btn-active flex items-center justify-between my-3" : "btn-primary flex items-center justify-between my-3"
              |Maksājumi 
              =image_tag 'icons/money.svg', size:"30"
            =link_to aptaujas_lapa_path, class: current_tab == "private_info" ? "btn-active flex items-center justify-between my-3" : "btn-primary flex items-center justify-between my-3"
              |Aptaujas lapa 
              =image_tag 'icons/private_information.svg', size:"30"
            =link_to profils_path, class: current_tab == "profile" ? "btn-active flex items-center justify-between my-3" : "btn-primary flex items-center justify-between my-3"
              |Mans profils
              =image_tag 'icons/current_user.svg', size:"30"
            =link_to session_path, data: { turbo_method: "delete" }, class: "btn-primary flex items-center justify-between my-3"
              |Izrakstīties
              =image_tag 'icons/logout.svg', size:"30"